<!DOCTYPE html>
<html lang="en">
{% include 'headers.html' %}
<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger d-flex justify-content-between align-items-center">
            <span class="">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            </span>
            <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endwith %}
        <section>
            <h2>Introduction</h2>
            <p>
                Despite increasing awareness of the importance of energy conservation, many individuals and organizations lack effective tools to monitor and manage their energy consumption in real-time. Traditional energy monitoring systems are often expensive, complex to install, and offer limited accessibility, hindering widespread adoption. Consequently, there is a need for an affordable, user-friendly, and scalable energy monitoring solution that provides accurate real-time data and actionable insights to enable informed decision-making for energy conservation and cost reduction.
            </p>
        </section>

        <section>
            <h2>System Components</h2>
            <p>
                To address this need, we have implemented a system utilizing Arduino programming on a NodeMCU platform. The NodeMCU, an open-source IoT platform, is integrated with various sensors to capture real-time energy consumption data. This data is then processed and transmitted wirelessly to a central server for analysis. The use of Arduino programming ensures flexibility and ease of customization, allowing the system to be tailored to specific needs. Additionally, the NodeMCU's compatibility with Wi-Fi enables seamless connectivity, making the system accessible from anywhere. This approach not only reduces costs but also simplifies the installation process, making it feasible for a wide range of users.
            </p>
        </section>

        <section>
            <h2>Summary</h2>
            <p>
                Our energy monitoring system offers a cost-effective, user-friendly solution for real-time energy management. By leveraging the capabilities of the NodeMCU and Arduino programming, users can benefit from accurate data and actionable insights without the high costs and complexities typically associated with traditional systems.
            </p>
        </section>
    </div>
</body>
<footer>{%include 'footer.html'%}</footer>
</html>