<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    {%include 'navbar.html'%}
    <div class="container">
        <canvas id="myChart" width="800" height="400"></canvas>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Function to fetch data and update chart
            function fetchDataAndUpdateChart() {
                fetch('/getData')
                    .then(response => response.json())
                    .then(data => {
                        // Extracting data for plotting
                        const labels = data.data.map(item => item.date);
                        const currents = data.data.map(item => item.current);
                        const voltages = data.data.map(item => item.voltage);
                        const frequencies = data.data.map(item => item.frequency);
                        const powers = data.data.map(item => item.power);
                        const energies = data.data.map(item => item.energy);

                        // Update chart data
                        myChart.data.labels = labels;
                        myChart.data.datasets[0].data = currents;
                        myChart.data.datasets[1].data = voltages;
                        myChart.data.datasets[2].data = frequencies;
                        myChart.data.datasets[3].data = powers;
                        myChart.data.datasets[4].data = energies;
                        myChart.update();
                    })
                    .catch(error => console.error('Error fetching data:', error));
            }

            // Initial fetch and chart creation
            fetchDataAndUpdateChart();

            // Fetch new data and update chart every 5 seconds
            setInterval(fetchDataAndUpdateChart, 1000);

            // Creating chart
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Current',
                        data: [],
                        fill: false,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'Voltage',
                        data: [],
                        fill: false,
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'Frequency',
                        data: [],
                        fill: false,
                        borderColor: 'rgba(255, 206, 86, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'Power',
                        data: [],
                        fill: false,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'Energy',
                        data: [],
                        fill: false,
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 1
                    }
                    ]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>

</body>
{%include 'footer.html'%}
</html>