<nav class="navbar navbar-expand-lg  mb-4 sticky-top">
    <div class="container">
      <a href="{{ url_for('base.home_render') }}" class="navbar-brand d-flex align-items-center">
        <img src="{{ url_for('static', filename='Designer(1).jpeg') }}" alt="logo" class="logo rounded-circle me-2" width="50" height="50">
        <span class="h5 mb-0">Smart Energy Monitoring System</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a href="{{ url_for('base.graph') }}" class="dropdown-item bg-success text-white">Dashboard</a></li>
                <li><a href="{{ url_for('base.add_device') }}" class="dropdown-item bg-success text-white">Manage Device</a></li>
                <li><a href="{{ url_for('base.changePassword') }}" class="dropdown-item">Change Password</a></li>

              </ul>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('base.userdashboard') }}" class="nav-link">Data</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('base.logout') }}" class="btn btn-warning ms-2">Log Out</a>
            </li>
          {% else %}
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login/Register
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{{ url_for('login.return_admin_login_page') }}">Admin Login</a></li>
                <li><a class="dropdown-item" href="{{ url_for('login.return_user_login_page') }}">User Login</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ url_for('signup.return_admin_signup_page') }}">Admin Register</a></li>
                <li><a class="dropdown-item" href="{{ url_for('signup.return_user_signup_page') }}">User Register</a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>